<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>병원 지도</title>

</head>
<body>
<p style="margin-top:-12px">
<div id="map" style="width:100%;height:1200px;"></div>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3f18cb4e9bc573e948b9d3e15d0a7e0b&libraries=services"></script>
<script>
    var addr = "{{addr}}"
    var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(37.5666805, 126.9784147),
                level: 2
            };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색
    geocoder.addressSearch(addr, function (result, status) {

        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            console.log(result[0].y);
            console.log(result[0].x);

            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:200px;text-align:center;padding:6px 0;"><b>{{yadmNm}}</b></div>'
            });
            infowindow.open(map, marker);

            map.setCenter(coords);
        }
    });
</script>
</body>
</html>